@()(implicit messages: play.i18n.Messages)
@import play.mvc._
@import utils._
@_layout(
    active   = "home",
    customCss = Array("AdminLTE-2.3.0/plugins/datatables/dataTables.bootstrap.css"),
    customJs  = Array("AdminLTE-2.3.0/plugins/datatables/jquery.dataTables.min.js",
        "AdminLTE-2.3.0/plugins/datatables/dataTables.bootstrap.min.js",
        "Highcharts-4.2.5/js/highcharts.js")
){
<section class="content-header">
    <h1>@messages.at("msg.dashboard")</h1>
    <ol class="breadcrumb">
        <li><a href="@routes.CpController.home()"><i class="fa fa-dashboard"></i> @messages.at("msg.home")</a></li>
        <li class="active">@messages.at("msg.dashboard")</li>
    </ol>
</section>
            
<section class="content">
}
